<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<body>
<div class="app">
	<a href="/logout" class="logout">Logout</a>
	<div class="todo-list">
		<a class="todo-list__link" href="/home-tasks">Home tasks</a>
		<a href="/work-tasks" class="todo-list__link">Work tasks</a>
	</div>
</div>
</body>
</html>