<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
<div class="app">
    <a href="/categories" class="logout">Back to categories</a>
    <form action="/home-tasks" method="POST" class="form" id="todo">
        <% include partials/task-inputs.ejs %>
    </form>
    <% include partials/todo-list.ejs %>
</div>
<script src="home-tasks.js"></script>

</body>
</html>