<div class="app" id="todo-app">
    <form action="/home-tasks" method="POST" class="form" id="todo">
	    <input class="input form__input" name="title" id="title">
	    <button class="btn form__submit-btn" type="submit" >Add</button>
    </form>
	<ul class="tasks todo-list" id="taskItem">
		<li class="task todo-list__item <%= items[i].classDone %>" >
			<button class="btn done">Done</button>
			<button class="todo-list__item-content"><%= items[i].title %></button>
			<button class="btn todo-list__item-remove delete" id=""></button>
		</li>
</ul>
</div>
