<!doctype html>
<html>
<% include partials/head.ejs %>

<body>
<div id="main-container">
    <div id="login">

        <h1>Form</h1>

        <% include partials/mesages.ejs %>

        <!-- LOGIN FORM -->
        <form action="/auth" method="post" name='form-login' id="form">
            <% include partials/form-inputs.ejs %>

            <button type="submit" value="Login" id="login-button">Login</button>
            <button type="submit" id="singup-button" class="hidden">Singup</button>
        </form>

        <span>Need an account?</span> <a class="singup" id="singup">Signup</a>
    </div>

</div>
    <script src="home-tasks.js"></script>

</body>
</html>
