<!doctype html>
<html>
<% include partials/head.ejs %>

<body>
<div id="main-container">
    <div id="login">

        <h1>Login</h1>

        <% include partials/mesages.ejs %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post" name='form-login'>
            <% include partials/form-inputs.ejs %>

            <button type="submit" value="Login" id="login">Login</button>
        </form>

        <p>Need an account? <a href="/signup" class="singup" >Signup</a></p>
    </div>

</div>
    <script src="home-tasks.js"></script>

</body>
</html>
