<!doctype html>
<html>
<% include partials/head.ejs %>
<body>

<div id="login">

    <h1>Singup</h1>

    <% include partials/mesages.ejs %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post" name='form-login'>
        <% include partials/form-inputs.ejs %>

        <button type="submit" value="Login">Singup</button>
    </form>

    <p>Already have an account? <a href="/" class="singup">Login</a></p>
</div>

</body>
</html>
